<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="containerOne">
  <div id="first">
    <div id="welcome">____/\\\______________/\\\__/\\\\\\\\\\\\\\\__/\\\____________________/\\\\\\\\\_______/\\\\\_______/\\\\____________/\\\\__/\\\\\\\\\\\\\\\____
    <br>
     ___\/\\\_____________\/\\\_\/\\\///////////__\/\\\_________________/\\\////////______/\\\///\\\____\/\\\\\\________/\\\\\\_\/\\\///////////_____ 
    <br>
      ___\/\\\_____________\/\\\_\/\\\_____________\/\\\_______________/\\\/_____________/\\\/__\///\\\__\/\\\//\\\____/\\\//\\\_\/\\\________________
    <br>
       ___\//\\\____/\\\____/\\\__\/\\\\\\\\\\\_____\/\\\______________/\\\______________/\\\______\//\\\_\/\\\\///\\\/\\\/_\/\\\_\/\\\\\\\\\\\________
    <br>
        ____\//\\\__/\\\\\__/\\\___\/\\\///////______\/\\\_____________\/\\\_____________\/\\\_______\/\\\_\/\\\__\///\\\/___\/\\\_\/\\\///////_________
    <br>
         _____\//\\\/\\\/\\\/\\\____\/\\\_____________\/\\\_____________\//\\\____________\//\\\______/\\\__\/\\\____\///_____\/\\\_\/\\\________________ 
    <br>
          ______\//\\\\\\//\\\\\_____\/\\\_____________\/\\\______________\///\\\___________\///\\\__/\\\____\/\\\_____________\/\\\_\/\\\________________
    <br>
           _______\//\\\__\//\\\______\/\\\\\\\\\\\\\\\_\/\\\\\\\\\\\\\\\____\////\\\\\\\\\____\///\\\\\/_____\/\\\_____________\/\\\_\/\\\\\\\\\\\\\\\____
    <br>
            ________\///____\///_______\///////////////__\///////////////________\/////////_______\/////_______\///______________\///__\///////////////_____
    </div>
    <div id="title">
      ...
      <br>
      [nodemon] 1.18.4
      <br>
      [nodemon] to restart at any time, enter `rs`
      <br>
      [nodemon] watching: *.*
      <br>
      ...
      <br>
      Terrence-Butler:portfolio Master$ Hello
      <br>
      ...
      <br>
      /Thank/you-for/passing-->by
      <br>
      And -- again -- welcome  -----    root        13 Sep 18 02:31 .
      <br>
      To -- my -- portfolio -- site    root      0830 Aug 30 17:00 ..
      <br>
      Terrence-Butler:portfolio Master$ cd ..
      <br>
      Terrence-Butler:Master$...
    </div>
    <fieldset>
      <legend>Projects</legend>
      <p>Customizable Beat Pad</p>
      <h2>
      <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      </h2>
      <h1>
      <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      </h1>
      <h3>
      <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      </h3>
    </fieldset>
  </div>
    


                  <!-- below is space pad -->



</div>
</body>
</html>